@model BoatPageVM
@section styles{
    <link href="~/Styles/AddBoatStyleSheet.css" rel="stylesheet" />
}

<div class="AddBoatDiv">

    <form asp-controller="Home" asp-action="@ViewBag.ActionName" id="boatForm">
        <table id="AddBoatTable">
            <tr>
                <td><label asp-for="Modelname" />Model: </td>
                <td><input asp-for="Modelname" /></td>
                <td><span asp-validation-for="Modelname"></span></td>
            </tr>
            <tr>
                <td><label asp-for="Manufacturer" />Manufacturer: </td>
                <td><input asp-for="Manufacturer" /></td>
                <td><span asp-validation-for="Manufacturer"></span></td>
            </tr>
            <tr>
                <td><label asp-for="Boatname" />Boat Name: </td>
                <td><input asp-for="Boatname" /></td>
                <td><span asp-validation-for="Boatname"></span></td>

                @if (Model != null)
                {
                    <td><input asp-for="BoatID" hidden /></td>
                }
            </tr>
        </table>
        <table id="VppInputTable">
            <tr>
                <td>TWS: </td>
                <td>Wind Direction: </td>
                <td>Knots: </td>
            </tr>
            @if (Model != null)
            {
                @for (int i = 0; i < Model.VppList.Length; i++)
                {
                    <tr class="RowToSelect" data-row="@i">
                        <td><input asp-for="VppList[i].TWS" class="colUserInput" data-row="@i" /><span asp-validation-for="VppList[i].TWS"></span></td>
                        <td><input asp-for="VppList[i].WindDegree" class="colUserInput" data-row="@i" /><span asp-validation-for="VppList[i].WindDegree"></span></td>
                        <td><input asp-for="VppList[i].Knot" class="colUserInput" data-row="@i" /><span asp-validation-for="VppList[i].Knot"></span></td>
                        <td><input type="button" value="Remove row" class="RemoveRowButton" data-row="@i" /></td>
                        <td><input asp-for="VppList[i].ID" hidden /></td>
                    </tr>
                }
            }
            else
            {
                <tr class="RowToSelect" data-row="0">
                    <td><input asp-for="VppList[0].TWS" class="colUserInput" data-row="0" /><span asp-validation-for="VppList[0].TWS"></span></td>
                    <td><input asp-for="VppList[0].WindDegree" class="colUserInput" data-row="0" /><span asp-validation-for="VppList[0].WindDegree"></span></td>
                    <td><input asp-for="VppList[0].Knot" class="colUserInput" data-row="0" /><span asp-validation-for="VppList[0].Knot"></span></td>
                    <td><input type="button" value="Remove row" class="RemoveRowButton" data-row="0" /></td>
                </tr>
            }
            <tr id="ButtonRow">
                <td><input type="button" value="Add row" id="AddRowButton" /></td>
                <td><input type="submit" value="@ViewBag.SaveBtnName" /></td>
            </tr>
        </table>
    </form>

    @if (Model != null)
    {
        <br />
        <span id="BoatIDSpan" hidden>@Model.BoatID</span>
        <div id="chartDiv" style="width: 90%; margin: 0 auto;">
            <h3 style="text-align:center">Boats speed for 0-180° wind direction</h3>
            <canvas id="vppLineChart"></canvas>
        </div>
        <div style="width: 60%; margin: 0 auto;">
            <h3 style="text-align:center">VPP chart</h3>
            <canvas id="vppChart"></canvas>
            <p style="font-size: 13px;"><i>The vpp chart shows the speed of the boat for every angle in 360 degrees.</i></p>
        </div>
    }
    else
    {
        <span id="BoatIDSpan" hidden>0</span>
    }
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    @*TODO: Lägg till unobtrusive-validering för de genererade elementen.*@
    <script src="~/Scripts/AddBoatJavaScript.js"></script>

    <script>

        if (document.getElementById("chartDiv") !== null) {
            $.ajax({
                url: '/Home/GetVppData',
                type: 'GET',
                data: { "id": document.getElementById('BoatIDSpan').innerHTML },
                success: function (result) {

                    let vppArray = [];
                    for (var i = 0; i < result.length; i++) {
                        vppArray[i] = result[i].knot;
                        vppArray[2 * result.length - i] = result[i].knot;
                    }

                    var ctx = document.getElementById('vppChart').getContext('2d');
                    new Chart(ctx, {
                        data: {
                            datasets: [{
                                data: vppArray,
                                borderColor: 'rgba(0, 0, 100, 0.1)',
                                backgroundColor: 'rgba(0, 0, 100, 0.4)'
                            }]
                        },
                        type: 'polarArea',
                        options: {}
                    });

                    
                    let vppArrayLine = [];
                    let vppArrayLineString = [];
                    for (var i = 0; i < result.length; i++) {
                        vppArrayLine[i] = result[i].knot;
                        if (i % 10 == 0) {
                            vppArrayLineString[i] = String(result[i].windDegree);
                        }
                        else {
                            vppArrayLineString[i] = '';
                        }
                    }

                    var ctx2 = document.getElementById('vppLineChart').getContext('2d');
                    new Chart(ctx2, {
                        // The type of chart we want to create
                        type: 'line',

                        // The data for our dataset
                        data: {
                            labels: vppArrayLineString,
                            datasets: [{
                                label: "Knots",
                                borderColor: 'rgba(0, 0, 100, 0.8)',
                                backgroundColor: 'rgba(0, 0, 100, 0)',
                                data: vppArrayLine,
                            }]
                        },
                        options: {
                            elements: { point: { radius: 0 } },
                            scales: {
                                xAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Degrees°',
                                        fontSize: 15,
                                        //fontColor: "black"
                                    }
                                }],
                                yAxes: [{
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Speed (knots)',
                                        fontSize: 15,
                                        //fontColor: "black"
                                    }
                                }]
                            }
                        }
                    });

                }
                })

            }

    </script>
}
