@model AccountUserpageVM
@section styles{
    <link href="~/Styles/AddBoatStyleSheet.css" rel="stylesheet" />
}

<div class="AddBoatDiv">
    <h1>@Model.Title</h1>
    <form asp-action="UpdateUser" asp-controller="Account">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
        <br />

        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <br />

        <input type="submit" value="Update User" />
    </form>

    <br />

    <table id="tablee">
        <tr>
            <th>BoatName</th>
            <th>ModelName</th>
            <th>Manufacturer</th>
        </tr>
        <tbody id="boatTableUpdate">
            <form asp-action="UpdateBoats" asp-controller="Account">
                @foreach (var boat in Model.BoatItem)
                {
                    <tr>
                        <td><input asp-for="@boat.BoatName" boatNameCell="@boat.BoatID" disabled></td>
                        <td><input asp-for="@boat.ModelName" modelNameCell="@boat.BoatID" disabled></td>
                        <td><input asp-for="@boat.Manufacturer" manufacturerCell="@boat.BoatID" disabled></td>
                        <td btnUpdateCell="@boat.BoatID"><input type="button" value="Change" class="btnChangeBoat" btn-changeID="@boat.BoatID" /></td>
                        <td><input type="button" value="Delete" /></td>
                    </tr>
                }
                <tr>
                    <td><input type="button" value="Cancel" id="btnCancel" /></td>
                </tr>
            </form>
        </tbody>
    </table>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {

        $(".btnChangeBoat").click(function () {
            let tdBoatname = "*[boatNameCell =" + $(this).attr("btn-changeID") + "]";
            let tdModelname = "*[modelNameCell =" + $(this).attr("btn-changeID") + "]";
            let tdManufacturer = "*[manufacturerCell =" + $(this).attr("btn-changeID") + "]";
            let tdBtnUpdate = "*[btnUpdateCell =" + $(this).attr("btn-changeID") + "]";

            $(tdBoatname).prop('disabled', false);
            $(tdModelname).prop('disabled', false);
            $(tdManufacturer).prop('disabled', false);
            $(tdBtnUpdate).html('<input type="submit" value="Update" />');
        });
    });
</script>